---
layout: default
sub: about
title: People
---

<div class="container">
	<div class="box">
  		<h1>People</h1>

  		{% assign people = site.people | sort:"date" %}
  		{% for person in people %}
  		{% if person.status == "current" %}
  		<div class="row">
  			<div class="col-sm-8">
  				{% if person.name %}
  					<h3>{{ person.name }}</h3>
  				{% endif %}
  				<ul class="list-unstyled">
  					{% if person.position %}
  						<li>{{ person.position }}</li>
  					{% endif %}
  					{% if person.office %}
  						<li>{{ person.office }}</li>
  					{% endif %}
  					{% if person.phone %}
  						<li>{{ person.phone }}</li>
  					{% endif %}
  					{% if person.email %}
  						<li><a href="mailto:{{ person.email }}"><span class="glyphicon glyphicon-envelope icon-glyph"></span> Email</a></li>
  					{% endif %}
  					{% if person.website %}
  						<li><a href="{{ person.website }}"><span class="glyphicon glyphicon-link icon-glyph"></span> Website</a></li>
  					{% endif %}
  					{% if person.blog %}
  						<li><a href="{{ person.blog }}"><span class="glyphicon glyphicon-link icon-glyph"></span> Blog</a></li>
  					{% endif %}
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<div class="people-container">
  					<img src="/assets/images/{{ person.image }}" class="people-image"/>
  				</div>
  			</div>
  		</div>
  		{% endif %}
  		{% endfor %}
	</div>
</div>