---
layout: default
sub: about
title: people
---

<div class="container">
	<div class="box">
  		<h1>People</h1>

  		{% for people in site.people %}
  		{% if people.status and people.status == "current" %}
  		<div class="row">
  			<div class="col-sm-8">
  				{% if people.name %}
  					<h3>{{ people.name }}</h3>
  				{% endif %}
  				<ul class="list-unstyled">
  					{% if people.position %}
  						<li>{{ people.position }}</li>
  					{% endif %}
  					{% if people.office %}
  						<li>{{ people.office }}</li>
  					{% endif %}
  					{% if people.phone %}
  						<li>{{ people.phone }}</li>
  					{% endif %}
  					{% if people.email %}
  						<li><a href="mailto:{{ people.email }}"><span class="glyphicon glyphicon-envelope icon-glyph"></span> Email</a></li>
  					{% endif %}
  					{% if people.website %}
  						<li><a href="{{ people.website }}"><span class="glyphicon glyphicon-link icon-glyph"></span> Website</a></li>
  					{% endif %}
  					{% if people.blog %}
  						<li><a href="{{ people.blog }}"><span class="glyphicon glyphicon-link icon-glyph"></span> Blog</a></li>
  					{% endif %}
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<div class="people-container">
  					<img src="/assets/images/{{ people.image }}" class="people-image"/>
  				</div>
  			</div>
  		</div>
  		{% endif %}
  		{% endfor %}
	</div>
</div>