{% if group.items.size > 1 %}
<div class="row post-list" id="{{ group.items[0].reference }}">
	<div class="col-sm-12">
	  	<h2>{{ group.name }}</h2>
	</div>
	{% for item in group.items %}
	<div class="col-sm-12" id="{{ item.reference }}">
	  	<h3>{{ item.title }}</h3>
	  	{% include help_section.html %}
	</div>
	{% endfor %}
</div>
{% elsif group.items.size == 1 %}
{% assign item = group.items[0] %}
<div class="row post-list">
	<div class="col-sm-12" id="{{ item.reference }}">
	  	<h2>{{ item.title }}</h2>
	  	{% include help_section.html %}
	</div>
</div>
{% endif %}