body {
	font-size: 16px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background: #333;
	font-size: 20px;
	line-height: 1.5em
}

.description {
	margin-top: 2em;
}

.navbar-brand {
	font-size: 1.5em;
}

.disabled {
	color: #333;
}

.container {
	max-width: 800px;
}

.box {
	background: #444;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 30px;
}


/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #fff;

}

.icon-glyph {
	color: #fff;
}

/**
 * Site footer
 */
.site-footer {
  background-color: #212121;
  margin-top: 40px;
}

/**
* Navbar
*/
.navbar-inverse {
	background: inherit;
	border-width: 0;
}

#logo-atom {
	width: 100px;
	position: absolute;
}

a {
	color: orange;
}

a:hover {
	text-decoration: none;
	color: #a03000;
	transition: all 0.25s;
}

.dropdown-menu {
	background: #212121;
}

.dropdown-menu li a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background: #212121;
}

.post-list {
	margin-bottom: 40px;
}

.text-muted {
	color: white;
}

.people-container {
	width: 175px;
	height: 175px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #333;
}
.img-container {
	padding: 5% 0;
}
.people-container img {
	width: 100%;
}

.line-section {
	border-top: solid gray 2px;
}

.highlight {
	background-color: #2b2b2b;
  	color: #fff;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
  	-moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
  	box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
}

.well {
	background-color: #2b2b2b;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
    padding: 0;
}


