---
layout: default
---
<div class="container">
		<!-- sidebar -->
	<nav role="navigation" class="col-sm-2 sidebar col-sm-push-10 navbar navbar-inverse">
    	<div class="collapse navbar-collapse" id="sidebar" role="navigation">
        	<ul class="nav navbar-nav">
        		{% for item in site.pages %}
        		{% if item.title and item.help and item.help == page.help %}
        		<li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
        		{% endif %}
        		{% endfor %}             
        	</ul>
    	</div>
    </nav>
	<div class="box col-sm-10 col-sm-pull-2">

	  	<header class="post-header">
	    	<h1 class="post-title">{{ page.title }}</h1>
	  	</header>

	  	<article class="post-content">
	    	{{ content }}
	  	</article>
	</div>

  
</div>
